{% block content %}
    <a href="{% url 'post_list' %}" id="post_list_button">Back to people's posts</a>
    <a href="{% url 'user_profile_edit' id=authorinfo.id %}" class="not-visible" id="back_link">Back to edit profile</a>
{% endblock %}

<div class="profile_aside_block">
    <aside class="profile_aside">
        {% if user.is_authenticated %}
            <div class="side_links">
                Username - {{ user }}
                <br>
                <br>
                <a href="">My comments</a>
                <hr style="width: 30%">
                <a href="{% url 'profile_user_posts' %}">My posts</a>
                <a href="">Favourite posts</a>
                <a href="">Watched posts</a>
                <a href="">Liked posts</a>
                <hr style="width: 30%">
                <a href="{% url 'profile_post_stats' %}">Stats</a>
                <a href="{% url 'user_profile_edit' id=user.author_info.id %}">Edit profile</a>
                <a href="">Profile look for users</a>
                <a href="">Profile settings</a>
                <hr style="width: 30%">
                <a href="">Edit User</a>
            </div>
        {% endif %}
    </aside>
</div>