{% extends 'web/base.html' %}
{% load static %}


{% block content %}
<section>
    <blockquote>
        <font face="Cinzel" color="#ffffff" size="6">Authorization</font>
    </blockquote>
    <br/>
    <br/>
    <div>
        <nav>
            <ul class="join-text">
                <li><font face="Cinzel" size="4" color="#3F92D2">Enter to your account</font></li>
            </ul>
            <br/>

            {% if form.errors %}
            <p>{{ form.errors.error }}</p>
            {% endif %}

            <form action="{% url 'login' %}" method="post">
                {{ form }}
                {% csrf_token %}
                <button type="submit" class="input-button-enter">Enter</button>
            </form>

            <a href="{% url 'password_reset' %}">Forgot password?</a>

        </nav>
    </div>
</section>
{% endblock %}