{% extends 'web/base.html' %}
{% load static %}

{% block content %}

    <section>
        <div id="content-main">
            <form method="post">{% csrf_token %}
                <div>
                    {% if form.errors %}
                        <p class="errornote">
                            {% if form.errors.items|length == 1 %}Пожалуйста, исправьте ошибку.{% else %}Пожалуйста,
                                исправьте ошибку.{% endif %}
                        </p>
                    {% endif %}


                    <p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>

                    <fieldset class="module aligned wide">

                        <div class="form-row">
                            {{ form.old_password.errors }}
                            {{ form.old_password.label_tag }} {{ form.old_password }}
                        </div>

                        <div class="form-row">
                            {{ form.new_password1.errors }}
                            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                            {% if form.new_password1.help_text %}
                                <div class="help">{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>

                        <div class="form-row">
                            {{ form.new_password2.errors }}
                            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                            {% if form.new_password2.help_text %}
                                <div class="help">{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                        </div>

                    </fieldset>

                    <form>
                        <br/>
                        <button type="submit" class="btn btn-success">Изменить пароль</button>
                    </form>

                </div>
            </form>
        </div>
    </section>
{% endblock %}
