{% extends 'web/base.html' %}
{% load static %}

{% block content %}
    <section class="register_page">

        <h2>Registration</h2>

        <div>
            <nav>
                <form action="{% url 'register' %}" method="post" style="color: #1b1b1b">

                    {% for f in form %}
                        <p>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}

                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </nav>
        </div>
    </section>
{% endblock %}