{% load static %}

<footer class="page-footer">
    <small>© Good Footer</small>
    <div>
        <a href="https://ru-ru.facebook.com/">
            <img src="{% static 'web/images/F.png' %}" width="40" height="20" alt="Facebook">
        </a>
        <a href="https://vk.com/id313094917">
            <img src="{% static 'web/images/VK.png' %}" width="40" height="21" alt="VK">
        </a>
        <a href="https://ok.ru/">
            <img src="{% static 'web/images/Odn.png' %}" width="40" height="22" alt="Odnoklassniki">
        </a>
    </div>
</footer>
