@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
    --main-white-color: #ffffff;
    --main-black-color: black;
    --main-purple-color: #9e89b8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    background: none;
    outline: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font: 16px/1.5 "Dosis", sans-serif;
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
    padding: 20px;
}


/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
    background: var(--main-white-color);
}

.page-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page-header ul {
    display: flex;
    order: 1;
    width: 100%;
    margin-top: 15px;
}

.page-header ul li:not(:last-child) {
    padding-right: 15px;
}

.page-header .register {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 10px;
}

.page-header .donate {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 2px solid;
    border-radius: 15px;
}

.page-header .sign_in {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 10px;
}

.page-header .logout {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 10px;
}

.page-header .profile {
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 10px;
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    min-height: 350px;
    background-blend-mode: luminosity;
    color: var(--main-white-color);
}

.edit_delete_comments button {
    margin-left: 4px;
}

.edit_delete_comments {
    display: inline-flex;
    margin: 5px;
}

.reply_form button {
    margin-left: 15px;
}

.reply_form {
    display: flex;
    align-items: end;
    padding-bottom: 25px;
}

.reply_comment_block {
    margin-left: 20px;
    margin-bottom: 35px;
}

.comment_reply_btn {
    color: blue;
}

.like_form_on_reply {
    margin-bottom: 20px;
}

.like_form_on_reply button {
    margin-left: 23px;
    border: none;
    color: green;
}

.comment_form button {
    margin-bottom: 30px;
    margin-left: 15px;
}

.comment_body_form {
    height: 120px;
}

.edit_delete_comments button {
    border: none;
}


.like_form_on_comment button {
    margin-left: 23px;
    border: none;
    color: green;
}

.like_form {
    display: flex;
}

.like_form h1 {
    font-size: 35px;
    font-weight: lighter;
    display: inline-flex;
    font-family: inherit;
}

.like_form button {
    color: green;
    border: none;
    padding: 12px;
}

.search_button, .search_input {
    display: inline-block;
    padding: 10px 15px;
    font-size: 17px;
    -webkit-appearance: none;
    border-radius: 15px;
}

form.search button {
    background: #2196F3;
    color: white;
    padding: 14px;
    border: 1px solid grey;
    cursor: pointer;
}

form.search input {
    border: 1px solid grey;
    background: #f1f1f1;
}

.page-main div {
    max-width: 500px;
}

.page-main h1 {
    margin-bottom: 20px;
}

.page-main p + p {
    margin-top: 10px;
}

.page-main .main_page_text {
    width: 550px;
    padding: 20px;
    margin-top: 55px;
}

.main_img {
    float: right;
    margin-left: 100px;
    margin-top: 30px;
}

.card-img {
    width: 400px;
    height: 200px;
}

.page-main .card-text {
    margin-bottom: 20px;
}

/* Aside
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.profile_aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #555555;
    font-style: italic;
    color: black;
}

.profile_aside > p {
    margin: .5rem;
}

.side_links {
    display: grid;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    display: flex;
    flex-direction: column-reverse;
    background: var(--main-white-color);
}

.page-footer ul {
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
    margin-right: 20px;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {
    .page-header ul {
        width: auto;
        margin-top: 0;
    }

    .page-header .register {
        order: 1;
    }

    .page-header form {
        display: flex;
    }

    .page-header b {
        margin-right: 12px;
    }

    .page-header button {
        border: none;
    }

    .page-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    .page-footer ul {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .page-main {
        padding-left: 90px;
    }
}
