{% extends "web/base.html" %}

{% block title %}My Blog{% endblock %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <span type="button" class="btn-close mt-2" data-bs-dismiss="alert" aria-label="Close"></span>
            </div>
        {% endfor %}
    {% endif %}

    <div>
        <h4>The most popular tags:
            {% for tag in most_popular_tags %}
                <a class="badge badge-secondary" href="{% url 'posts_by_tag' tag.slug %}">{{ tag }}</a>
            {% endfor %}
        </h4>
    </div>

    <div class="row">
        {% for post in posts %}
            <div class="col-md-6">
                <div class="card mb-3">
                    <img class="card-img-top" src="https://picsum.photos/id/1015/1200/400" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Author: {{ post.author }}</h6>
                        <p class="card-text">{{ post.body }}</p>
                        <div class="card-footer">
                            <small class="text-muted">Likes: {{ post.total_likes }}</small>
                            <small class="text-muted ml-3">Views: {{ post.total_views }}</small>
                            <small class="text-muted ml-3">Comments: {{ post.total_comments }}</small>
                            {% if post.tagged_items.all %}
                                <small class="text-muted ml-3">Tags:
                                    {% for tagged_item in post.tagged_items.all %}
                                        <a class="badge badge-secondary"
                                           href="{% url 'posts_by_tag' tag_slug=tagged_item.tag.slug %}">
                                            {{ tagged_item.tag }}
                                        </a>
                                    {% endfor %}
                                </small>
                            {% endif %}
                        </div>
                        <a href="{% url 'post_detail' slug=post.slug id=post.id %}"
                           class="btn btn-primary read_more">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include "web/pagination.html" with page=page_obj %}
{% endblock %}
