{% extends "web/base.html" %}

{% block title %}Edit {{ post.title }}{% endblock %}
{% block content %}
    <a href="{% url 'profile_user_posts' %}"><button class="btn btn-dark">Previous page</button></a>
    <a href="{% url 'post_edit' post.slug post.id %}"><button class="btn btn-warning">Edit</button></a>
    <a href="{% url 'post_delete' post.slug post.id %}"><button class="btn btn-danger">Delete</button></a>
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {% if post.status == 'Published' %}
        Status: Published
    {% else %}
        Status: Draft
    {% endif %}
    <br>
    <br>
    {{ post.body|linebreaks }}
{% endblock %}
