{% extends "web/base.html" %}

{% block content %}

    {% if id %}
        <a href="{{ post.get_edit_absolute_url }}">
            <button class="btn btn-dark">Previous page</button>
        </a>
    {% else %}
        <a href="{% url 'profile_user_posts' %}">
            <button class="btn btn-dark">Previous page</button>
        </a>
    {% endif %}

    {% if id %}
        <h1>Edit post</h1>
    {% else %}
        <h1>Add post</h1>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if id %}
            <button class="btn btn-success">Edit</button>
        {% else %}
            <button class="btn btn-success">Add</button>
        {% endif %}
    </form>
{% endblock %}
