{% extends "web/base.html" %}
{% load posts %}

{% block content %}
        {% include 'includes/sidebar_and_back_to_link.html' %}
     <div class="add_post_but">
        <a href="{% url 'post_create' %}">
            <button class="btn btn-success">Add new post</button>
        </a>
    </div>
    <h1>Your posts</h1>
    <p>
        Show
        {% filter_link "all posts" "" query_params %} |
        {% filter_link "published posts" "published_posts" query_params %} |
        {% filter_link "draft posts" "draft_posts" query_params %}
    </p>
    <br>
    {% for post in posts %}
        <h2><a href="{{ post.get_edit_absolute_url }}">{{ post.title }}</a></h2>
    {% endfor %}
{% endblock %}
