{% extends "web/base.html" %}
{% load posts %}

{% block content %}
    {% include 'includes/sidebar_and_back_to_link.html' %}
    <h1>Your stats</h1>
    <div class="post_stats">
        <p>You have <b>{{ total_posts }}</b> posts</p>
        <p>You published <b>{{ total_published_posts }}</b> posts</p>
        <p>First created post at <b>{{ first_created_at }}</b></p>
        <p>Last created post at <b>{{ last_created_at }}</b></p>
        <p>Your posts have <b>{{ total_likes_on_posts }}</b> likes</p>
        {% if most_liked_post_count %}
            <p>Most liked post have <b>{{ most_liked_post_count }}</b> likes</p>
        {% endif %}
    </div>
{% endblock %}
