{% extends 'web/base.html' %}
{% load static socialaccount account %}


{% block content %}
    {% get_providers as socialaccount_providers %}

    <div class="login_page">

        <h2>Login</h2>

        <div class="login_page_msg">
            {% if messages %}
                {% for m in messages %}
                    {{ m }}
                {% endfor %}
            {% endif %}
        </div>

        {% if form.errors %}
            <p>{{ form.errors.error }}</p>
        {% endif %}

        <form action="{% url 'account_login' %}" method="post" class="login_form">
            {{ form.as_p }}
            <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            {% csrf_token %}
            <button type="submit" class="input-button-enter btn-success">Enter</button>
        </form>

        <div class="separator">OR</div>


            <div class="socialaccount_provider">
                Login via social media:
                {% include "includes/provider_list.html" with process="login" %}
            </div>


    </div>

{% endblock %}