{% load static %}


<html lang="ru">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
            href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
            rel="stylesheet" type='text/css'>
    <script>
        function ChangeColor(Element) {
            if (Element.style.color === 'black') Element.style.color = 'green';
            else Element.style.color = 'black';
            return false;
        }

        function ChangeColorOut(Element) {
            if (Element.style.color === 'green') Element.style.color = 'black';
            else Element.style.color = 'green';
            return false;
        }
    </script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
</head>

<div class="wrapper">

    <header class="page-header">
        <nav>
            <a href="{% url 'post_list' %}"><img src="{% static 'images/logo1.png' %}" width="180" alt="Our logo"></a>
            <ul>
                <li>
                    <a href="">Team</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
                <li>
                    <a href="">Help</a>
                </li>
                <li>
                    <a href="">About us</a>
                </li>
            </ul>

            <form action="" method="get" class="search">
                <label>
                    <input class="search_input" type="text" name="search" placeholder="Поиск..."
                           value="{{ search|default_if_none:'' }}">
                </label>
                <button class="search_button"><i class="fa fa-search"></i></button>
            </form>


            <ul>
                <button class="donate" style="color: black;" onclick="return ChangeColor(this);">Donate</button>

                {% if user.is_authenticated %}
                    <button onclick="location.href= '{% url 'profile' %}'" class="profile" style="color: black;"
                            onmouseenter="return ChangeColor(this);"
                            onmouseout="return ChangeColorOut(this)">Profile
                    </button>

                    <button onclick="location.href={% url 'logout' %}" class="logout" style="color: black"
                            onmouseenter="return ChangeColor(this);"
                            onmouseout="return ChangeColorOut(this)">Logout
                    </button>
                {% else %}

                    <button onclick="location.href={% url 'login' %}" class="sign_in" style="color: black;"
                            onmouseenter="return ChangeColor(this);"
                            onmouseout="return ChangeColorOut(this)">Sign in
                    </button>

                    <button onclick="location.href={% url 'register' %}" class="register" style="color: black"
                            onmouseenter="return ChangeColor(this);"
                            onmouseout="return ChangeColorOut(this)">Register
                    </button>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="page-footer">
        <small>© Good Footer</small>
        <div>
            <a href="https://ru-ru.facebook.com/">
                <img src="{% static 'images/F.png' %}" width="40" height="20" alt="Facebook">
            </a>
            <a href="https://vk.com/id313094917">
                <img src="{% static 'images/VK.png' %}" width="40" height="21" alt="VK">
            </a>
            <a href="https://ok.ru/">
                <img src="{% static 'images/Odn.png' %}" width="40" height="22" alt="Odnoklassniki">
            </a>
        </div>
    </footer>

</div>

</html>