{% extends "web/base.html" %}

{% block content %}

    {% if id %}
    <a href="{{ post.get_edit_absolute_url }}">Назад</a>
    {% else %}
    <a href="{% url 'profile' %}">Назад</a>
    {% endif %}

    {% if id %}
        <h1>Редактирование поста</h1>
    {% else %}
        <h1>Добавление поста</h1>
    {% endif %}

    <form action="" method="post">

        {% csrf_token %}
        {{ form.as_p }}

        {% if id %}
            <button class="btn btn-success">Редактировать пост</button>
        {% else %}
            <button class="btn btn-success">Добавить пост</button>
        {% endif %}

    </form>
{% endblock %}
